{% extends "base.html" %}
{% block app_content %}
  <h1 style="padding-top: 20px">About This Station</h1>
  <p>This weather station is owned and operated by Tyler Carr, KI7IQE. It is running on home built hardware
  running scratch built software. This station is a hobby project by Tyler, and is mostly a learning exercise. The server updates the APRS network in addition to hosting this site
for viewing local weather. Aprs output can be viewed at <a href="https://aprs.fi/weather/a/KI7IQE-13">APRS.fi</a></p>
  <p><h2>Hardware</h2> The KI7IQE weather station runs using a combination of sensors hosted by an
  arduino which communicates via serial with server applications running on a Raspberry Pi Zero
<h3>Sensors</h3> The station has the following sensors on-board:
<br>
<ul>
  <li><strong>BMP180</strong> Measuring atmospheric pressure and temperature</li>
  <li><strong>DHT11</strong> Measuring humidity</li>
</ul>
<h3>Processors</h3>
The following processors are utilized by the station:
<br>
<ul>
  <li><strong>Arduino Nano</strong> Data collection and formatting from sensors</li>
  <li><strong>Raspberry Pi Zero</strong> Data processing, web server, and aprs packet generation</li>
</ul>
</p>

<p>
  <h2>Software</h2>
  The KI7IQE weather station utilizes software written for aduino in C++, and
  software running on the raspberry pi written in python.  The web app is uses Flask. All code is available on gitlab.
</p>

{% endblock %}
