{% extends "base.html" %}
{% block app_content %}
  <div>
  <table class="table table-hover" style="max-width: 50%">
    <tr><h3>Current Weather for CN85tp</h3></tr>
    <tr><td>Relative pressure</td><td>{{ ( data[-1]["barometer"])|round(1)}} mbar and {{trend}}</td></tr>
    <tr><td>Temperature</td><td>{{ ( 9/5 * data[-1]["temperature"] + 32)|round(1) }} degrees F</td></tr>
    <tr><td>Humidity</td><td>{{ data[-1]["humidity"] }}%</td></tr>
  </table>
</div>
<div>
{% if aprs == True %}
<span class="label label-success">APRS Active</span> &nbsp
{% endif %}
{% if timenow - data[-1]['timestamp'] > 300 %}
  <span class="label label-warning">
    Data is
    {{ ((timenow - data[-1]['timestamp']) / 60 )| round(1) }}
    minutes old
  </span> &nbsp
{% endif %}
</div>
<div >
  <embed type="image/svg+xml" src="{{graph_data|safe}}" style="max-width: 60%"/>
</div>
{% endblock %}
